.findpwpage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
}

.findpwLogoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-size: cover;
}

.findpwTitleWrap {
  font-size: 30px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 100px;
}

.findpwInputTitle {
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  margin-right: 125px;
}

.findpwEmailBox {
  display: flex;
  align-items: center;
}

.findpwInputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.findpwInput {
  display: flex;
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.findpwEmailButton {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.findpwEmailButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.findPw {
  display: flex;
}

.findPwButton {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.findPwButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.findExit {
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
  border: 2px solid white;
}
