.findpwpage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  flex-direction: column;
  background-color: #ebecff;
}

.findpwLogoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-size: cover;
}

.findpwTitleWrap {
  font-size: 30px;
  font-weight: bold;
  color: #262626;
  margin-bottom: 60px;
  margin-top: 30px;
}

.findpwInputTitle {
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  margin-right: 170px;
}

.findpwEmailBox {
  align-items: center;
  display: column;
}

.findpwInputWrap,
.pwemailBox .inputWrap {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  margin-right: 60px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.findpwInput,
.pwemailBox .input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 12px;
  font-weight: 400;
}

.findpwEmailButton {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #acb3fd;
  color: white;
  cursor: pointer;
  border: 2px solid #acb3fd;
  transition: all 0.3s ease-in;
}

.findpwEmailButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.findPw {
  display: flex;
}

.findPwButton {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  background-color: #acb3fd;
  color: white;
  cursor: pointer;
  border: 2px solid #acb3fd;
  transition: all 0.3s ease-in;
}

.findPwButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.pwerrorMessageWrap {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 125px;
  /* 추가된 부분: 오류 메시지가 입력 필드와 같은 너비를 가지도록 */
}

.findpwInputWrap {
  margin-right: 10px;
}

.resetPasswordContainer {
  width: 350px;
  margin-left: 100px;
}

.resetPasswordContainer .findpwInputWrap {
  width: 250px;
}

@media (max-width: 430px) {
  .findpwpage {
    display: flex;
    flex-direction: column;

    min-height: 70vh;
    position: relative;
  }

  .findpwimg {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .findpwLogoimg {
    max-width: 80%;
    height: auto;
  }
}
