table {
  border-collapse: separate; /* 셀 사이의 경계를 분리합니다. */
  border-spacing: 0 10px; /* 셀 사이의 간격을 조절합니다. */
  width: 100%;
  margin: 10px;
}

td {
  padding: 20px; /* 간격 조절을 위한 패딩 추가 */
  font-size: 20px;
  min-width: 140px;
  border-bottom: 3px solid black;
}

th {
  font-size: 30px;
  min-width: 220px;
}
