.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  bottom: 0;
  width: 100%;
  padding: 0 20px;

  /* background-color: #f7f7f7; */

  overflow: hidden;
  flex-direction: column;
}

.page .Logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-size: cover;
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.titleWrap {
  margin-top: auto;
  font-size: 26px;
  font-weight: bold;
  color: #262626;
}

.photoButton {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  border: 2px solid black;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.photoButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.nicknameBox {
  display: flex;
  align-items: center;
}

.nickNameCheckButton {
  margin-top: 45px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.nickNameCheckButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.idBox {
  display: flex;
  align-items: center;
}

.idCheckButton {
  margin-top: 50px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.idCheckButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.pwbox {
  margin-top: 10px;
}

.emailBox {
  display: flex;
  align-items: center;
}

.emailButton,
.verifyButton {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.emailButton:hover,
.verifyButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.timerWrap {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 20px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  flex: 1;
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  background-color: white;
  display: flex;
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
  font-size: 11px;
}

.clearButton {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.3s ease-in;
}

.clearButton:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.bottomContainer {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
}

.bottomButton {
  width: 130px;
  height: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  border-radius: 64px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}

.exit {
  cursor: pointer;
}

@media (max-width: 430px) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .Logoimg {
    max-width: 80%;
    height: auto;
  }

  .contentWrap {
    flex: 1;
    padding: 0 10px;
  }

  .inputWrap,
  .emailBox {
    width: 100%;
    margin-bottom: 10px;
  }

  .bottomContainer {
    width: 100%;
    padding: 0 10px 10px;
  }

  .bottomButton {
    width: 100%;
    padding: 15px 10px;
  }

  .clearExit {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
