.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ebecff;
}

.login-imgContainer {
  margin-bottom: 20px;
}

.login-Logoimg {
  width: 100px;
}

.login-titleWrap {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-contentWrap {
  width: 300px;
}

.login-inputTitle {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.login-inputWrap {
  margin-bottom: 16px;
}

.login-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-errorMessageWrap {
  color: red;
  font-size: 12px;
  margin-bottom: 16px;
}

.login-bottomContainer {
  margin-top: 20px;
}

.login-bottomButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #acb3fd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid acb3fd;
  transition: all 0.2s ease-in;
}
.login-bottomButton:hover {
  background-color: white;
  color: black;
  transition: all 0.2s ease-in;
}

.findBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.findBox .Find {
  background-color: #acb3fd;
  color: white;
  border: 2px solid #acb3fd;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  width: 90px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}
.Find:hover {
  background-color: white;
  color: #000000;
  transition: all 0.3s ease-in;
}

.exit {
  border: none;
  cursor: pointer;
}

.clearExit {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.clearExit:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
